<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Home - Easy start">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    
    <title>Home</title>

    <link rel="stylesheet" href="public/css/home.css">
</head>
<body>
    
    {# Home template #}
    {% include 'title.html.twig' %}

</body>
</html>