<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="public/css/home.css">
</head>
<body>

    {# Home template #}
    {% include 'title.html.twig' %}

</body>
</html>